<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Scala Category"
            id="scala-plugin.commands.category">
      </category>
      <command
            name="Scala Command"
            categoryId="scala-plugin.commands.category"
            id="scala-plugin.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="scala-plugin.commands.sampleCommand"
            class="scalaplugin.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="scala-plugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Scala Menu"
               mnemonic="M"
               id="scala-plugin.menus.sampleMenu">
            <command
                  commandId="scala-plugin.commands.sampleCommand"
                  mnemonic="S"
                  id="scala-plugin.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
